body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1a;
    color: #f4f1de;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .passcode-container {
    text-align: center;
    background-color: #333;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
  }
  
  h1 {
    color: #e07a5f;
  }
  
  input {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #444;
    color: #fff;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #e07a5f;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f4a261;
  }
  
  .hidden {
    display: none;
  }
  
  #error-message {
    color: red;
    margin-top: 10px;
  }
  